<template>
    <div class="row">
        <div v-if="!loading">
            <h1>
                <router-link :to="{name: 'manage_package', params: {id: app.id}}" title="Back">
                    <i class="fa fa-chevron-left"></i>
                </router-link>

                <translate class="ml" :translate-params="{name: app.name}">New Revision for %{name}</translate>
            </h1>

            <form class="p-form p-form--stacked">
                <div class="p-form__group">
                    <label for="channel" class="p-form__label" v-translate>Channel</label>
                    <select id="channel" class="p-form__control" v-model="channel" :disabled="saving">
                        <option value="xenial" v-translate>Xenial</option>
                    </select>
                </div>

                <div class="divider"></div>

                <div class="p-form__group">
                    <label for="file" class="p-form__label" v-translate>File Upload</label>
                    <input
                        type="file"
                        id="file"
                        class="p-form__control"
                        accept=".click"
                        @change="fileChange($event.target.files)"
                        :disabled="saving"
                    />
                </div>

                <h3 v-translate>OR</h3>

                <div class="p-form__group">
                    <label for="downloadUrl" class="p-form__label" v-translate>URL</label>
                    <input
                        type="text"
                        id="downloadUrl"
                        class="p-form__control"
                        :disabled="saving"
                        v-model="downloadUrl"
                    />
                    <p class="small text-lightgrey" v-translate>URL of App from the Web</p>
                </div>

                <div class="divider"></div>

                <div class="p-form__group">
                    <label for="changelog" class="p-form__label" v-translate>Changelog</label>
                    <textarea id="changelog" rows="4" class="p-form__control" :disabled="saving" v-model="changelog"></textarea>
                    <p class="small text-lightgrey" v-translate>This will be added to the beginning of your current changelog</p>
                </div>

                <a class="p-button--positive" @click="save()" :disabled="saving">
                    <i class="fa" :class="{'fa-save': !saving, 'fa-spinner fa-spin': saving}"></i>
                    <span class="ml" v-translate>Create</span>
                </a>

                <router-link
                    class="p-button--neutral"
                    :to="{name: 'manage_package', params: {id: app.id}}"
                    :disabled="saving"
                >
                    <i class="fa fa-times"></i>
                    <span class="ml" v-translate>Cancel</span>
                </router-link>
            </form>
        </div>
    </div>
</template>

<script>
import VueNotifications from 'vue-notifications';
import {mapState} from 'vuex';

import api from '@/api';
import opengraph from '@/opengraph';
import utils from '@/utils';

export default {
    name: 'ManageRevisions',
    head: {
        title: function() {
            let title = this.$gettext('New Revision');
            if (this.app) {
                title = `${this.$gettext('New Revision')} ${this.app.name}`;
            }

            return {inner: title};
        },
        meta: function() {
            let data = {};
            if (this.app) {
                data = {
                    title: `${this.app.name} - OpenStore`,
                    description: this.app.tagline,
                    image: this.app.icon,
                };
            }

            return opengraph(data);
        },
    },
    data() {
        return {
            app: {},
            channel: 'xenial',
            file: null,
            downloadUrl: '',
            loading: false,
            saving: false,
            changelog: '',
        };
    },
    created() {
        this.loading = true;

        if (this.isAuthenticated) {
            this.getApp();
        }
    },
    methods: {
        async getApp() {
            this.loading = true;
            try {
                // TODO cache this so it only needs to be gotten once between this an ManagePackage
                this.app = await api.manage.get(this.$route.params.id, this.user.apikey);

                this.$emit('updateHead');
            }
            catch (err) {
                VueNotifications.error({
                    title: this.$gettext('Error'),
                    message: this.$gettext('An error occured loading your app data'),
                });

                utils.captureException(err);
            }

            this.loading = false;
        },
        fileChange(files) {
            if (files.length > 0) {
                [this.file] = files;
            }
            else {
                this.file = null;
            }
        },
        save() {
            if (!this.saving) {
                this.saving = true;

                let updateData = new FormData();

                if (this.file) {
                    updateData.append('file', this.file, this.file.name);
                }
                else {
                    updateData.append('downloadUrl', this.downloadUrl);
                }

                updateData.append('channel', this.channel);
                updateData.append('changelog', this.changelog);

                api.manage.revision(this.app.id, updateData, this.user.apikey).then(() => {
                    this.file = null;
                    document.getElementById('file').value = '';

                    this.saving = false;

                    let channel = this.$gettext('Xenial');

                    VueNotifications.success({
                        title: this.$gettext('Success'),
                        message: this.$gettext('New revision for %{channel} was created!').replace('%{channel}', channel),
                    });

                    this.$router.push({name: 'manage_package', params: {id: this.app.id}});
                }).catch((err) => {
                    let error = this.$gettext('An unknown error has occured');
                    if (err.response && err.response.data && err.response.data.message) {
                        error = err.response.data.message;
                    }

                    this.saving = false;
                    VueNotifications.error({
                        title: 'Error',
                        message: error,
                    });

                    utils.captureException(err);
                });
            }
        },
    },
    computed: mapState(['user', 'isAuthenticated']),
    watch: {
        isAuthenticated(newValue) {
            if (newValue) {
                this.getApp();
            }
        },
    },
};
</script>

<style scoped>
.divider {
    border-top: 1px solid #cdcdcd;
}

.small {
    float: right;
    text-align: right;
    width: 100%;
    margin-top: 1em;
}
</style>
